<h2><%= book.title %></h2>
<img src="<%= book.coverImagePath %>" height="150" width="100" >
<div>author: <%= book.author.name %> </div>
<div>Published Date: <%= book.publishedDate %> </div>
<div>Page Count: <%= book.pageCount %> </div>
<div>Description: <%= book.description %> </div>
<div class="btn-row">
    <a class="btn btn-primary" href="/books/<%= book.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', { url: `/books/${book.id}` }) %>
    <a class="btn btn-primary" href="/authors/<%= book.author.id %>">View Author</a>
</div>